@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
   
    font-family: "IBM Plex Sans", sans-serif;
}

/* page wrapper */
.container{
    width: 1600px;
    background-color: #F2F4F6;
}

.pg-wrapper {
  max-width: 1280px;
  margin-inline: auto;
}

/* header section */
nav {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    padding-top: 1.6rem;
}


nav menu {
    display: flex;
    align-items: center;
    gap: 2rem ;
    margin-left: auto;
   font-size: 1.3rem;
   color: black;
}

nav menu a {
    color: black; 
}

nav menu li:hover {
    text-decoration: underline;
}

nav button {
    margin-left: auto;
   border: 1px solid  #000000;
   font-size: 1.25rem;
   font-weight: bold;
   border-radius: 100px;
   background-color: #CEFB78;
   padding-inline: 2.25rem;
   padding-block: 0.813rem;
   transition: opacity 0.3s;
   cursor: pointer;

}


nav button:hover {
    opacity: 0.7;
   

}



/* main section */
main {
    padding-bottom: 3rem;
}

/* hero section */
.hero {
    display: flex;
    align-items: center;
    margin-bottom: rem;
    background-color: white;
    padding-block: 3.75rem;
    border-radius: 32px;
    padding-inline: 5rem;
}

.hero-content {
    width: 598.4px;
}

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.hero-content p {
    font-size:  1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 1.625rem;
}

.hero-content button {
    font-size: 1.25rem;
   font-weight: bold;
   border: 1px solid #0F0F0F;
   border-radius: 100px;
   background-color: #CEFB78;
   padding-inline: 2.25rem;
   padding-block: 0.813rem;
   transition: opacity 0.3s;
   cursor: pointer;
}

 
.hero-content button:hover {
    opacity: 0.7;
   

}


.hero-img {
 width: 489px;
}

.hero-img img {
    width: 100%;
    border-radius: 32px;
}

/* product sections */
.selling-content-wrapper{
    margin-top: 6.25rem;
    margin-bottom: 3rem;
}
.selling-content {
    text-align: center;
    margin-bottom: 2rem;
}

.selling-content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.selling-content p {
    max-width: 80ch;
    margin-inline: auto;
    font-size: 1.1rem;
    font-weight: 500;
}
  /* poducts items */
  .grid-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .grid-col {
    background-color: #FFFFFF;
    border-radius:1.5rem;
    padding :1.5rem;
  }

  .grid-img {
    padding-inline: 1.2rem;
    padding-top: 1rem;
    background-color: whitesmoke;
    border-radius: 16px;
  }


  .grid-img  img {
    width: 100%;
    object-fit: cover;
  }

   .grid-col  h3 {
    font-size: 1.125rem;
    line-height: 1.519rem;
    margin-bottom: 0.5rem;
   }

   .grid-col  p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
   }

   .grid-col button {
    border: 1px solid #0F0F0F;
   font-size: 1.125rem;
   font-weight: 600;
   border-radius: 100px;
   background-color: #CEFB78;
   padding-inline: 2rem;
   padding-block: 0.875rem;
   width: 100%;
   transition: opacity 0.3s;
  cursor: pointer;
   }
  
   .grid-col button:hover {
    opacity: 0.7;
   

}


   .cart-wrapper {
     display: flex;
     align-items: center;
     gap: 0.8rem;
     margin-top: 1rem;
   }

   .cart-wrapper button {
    border: 1px solid #E9E9E9;
    font-size: 1.125rem;
   font-weight: 600;
    border-radius: 100px;
    background-color: white;
    padding-inline: 2rem;
    padding-block: 0.875rem;
    cursor: pointer;
    transition: border 0.3s;
   
   }

   .cart-wrapper   button:hover {
    border: 1px solid black;
   }

   .love-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    padding: 14px;
    font-size: 14px;
    transition: border 0.3s;
   
   }

   .love-icon:hover {
    border: 1px solid red;
   }

   .love-icon:hover  i{
   
    color: red;
   }

   .one {
    margin-bottom: 4rem;
   }


/*footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
}

.ft-header{
 text-align: center;
}

 .site-name-ft  {

    width: 2.5rem;
  
}




footer menu {
    display: flex;
    gap: 2rem;
 
}

footer a {
    color: black;
}

footer li {
    font-size: 1.3rem;
    font-weight: 400;
}


.social-icons {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social-icons i {
    font-size: 1.75rem;
}


.fa-facebook {
    color: blue;
}


.fa-linkedin { 
    color:  #117DB7;
}


.fa-youtube { 
    color: red;
}

hr {
    width:66.313rem;
    color: #E9E9E9;
    margin-bottom: 2rem;
}


.input-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-btn input {
    display: block;
     border: 1px solid #E9E9E9;
    border-radius: 100px;
    padding-inline: 2rem;
    padding-block: 0.938rem;  
    color: #A5A5A5;
    font-weight: 500;
    transition: border 0.3s;
    cursor: pointer;
}
.input-btn input:hover{
    border: 1px solid black;
}

.input-btn button {
    border: 1px solid #0F0F0F;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 100px;
    background-color: #CEFB78;
    padding-inline: 2.25rem;
    padding-block : 0.813rem;
    text-align: center;
    transition:   opacity 0.3s ;
    cursor: pointer;

    
 
}
.input-btn button:hover{
    opacity: 0.7; 
}













 


   




